/* File Name: style.css */
/* Date Updated: 22/04/2021 11:27pm */

	/*----------------------------- import fonts -----------------------------*/
/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/poppins/poppins-v5-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-300italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/poppins/poppins-v5-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"), url("../fonts/poppins/poppins-v5-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-300italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-300italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-300italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-300italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/poppins/poppins-v5-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-regular.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-regular.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-regular.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/poppins/poppins-v5-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Italic"), local("Poppins-Italic"), url("../fonts/poppins/poppins-v5-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/poppins/poppins-v5-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/poppins/poppins-v5-latin-500italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"), url("../fonts/poppins/poppins-v5-latin-500italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-500italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-500italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-500italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-500italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins/poppins-v5-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/poppins/poppins-v5-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-600.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-600.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-600.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-600.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/poppins/poppins-v5-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-700italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/poppins/poppins-v5-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"), url("../fonts/poppins/poppins-v5-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-700italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-700italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-700italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-700italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"), url("../fonts/poppins/poppins-v5-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-800italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/poppins/poppins-v5-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"), url("../fonts/poppins/poppins-v5-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-800italic.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-800italic.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-800italic.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-800italic.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
  
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins/poppins-v5-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Poppins Black"), local("Poppins-Black"), url("../fonts/poppins/poppins-v5-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins/poppins-v5-latin-900.woff2") format("woff2"), url("../fonts/poppins/poppins-v5-latin-900.woff") format("woff"), url("../fonts/poppins/poppins-v5-latin-900.ttf") format("truetype"), url("../fonts/poppins/poppins-v5-latin-900.svg#Poppins") format("svg");
  /* Legacy iOS */ }
  
	
/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

	

/*------------------------New update-----------------------*/
	@media screen and (max-width: 650px){
		.team-column,
		.why-box{
			width: 100%;
			display: block;
		}
	}

	label{
		width:120px;
		display:inline-block;
		text-align:left;
	}

	/* Add a blue text color to links */
	a {
	  color: #12232E;
	}
	
	/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
		
	/* ---------------------------------------------------------*/

	
	
/*---------------------------------------------------------*/

	* {
		box-sizing: border-box !important;
		margin: 0;
		padding: 0;
	}

	html {
		scroll-behavior: smooth;
	}
	
	body {
     font-size: 14px;
     font-family: 'Roboto', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
	 margin: 0;
	}
	
	a.return{
		color:#12232E;
	}
	
	ul,
	li, 
	a 
	{
		font-family: 'Poppins', sans-serif;
		font-weight: 400;
		font-size: 16px;
		text-decoration: none;
		color: #edf0f1;
	}
	
	h1{
		font-size: 60px;
	}
	
	h2{
		font-size: 40px;
	}
	
	p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
	}

table,tr,th,td{
	border: 1px solid black;
}

form.search{
	text-align:center;
}

form.check{
	text-align:center;
}

fieldset {
	display:inline;
	padding:20px;
	
}

.final_confirm{
	text-align:center;
}

.container_training{

	border-radius: 10px;
	background-color: #f2f2f2;
	padding: 10px;
}

.tab {
	margin-left: 2.5em;
}

.center{
	text-align:center;
}

table.center{
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:50%;
}



.register{
	display: block;
	margin: auto;
}

a.return {
  color: 12232E;
}

/*Home.php*/
.button {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
  background-color: blue;
  color: white;
}


/*login*/

		
	/* Full-width input fields */
input[type=name],input[type=password],input[type=email],input[type=gender],input[type=date],input[type=desc],select.days{
	width: 20%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text] {
	padding: 10px;
	border: 1px solid #ccc;
	text-align:center;
	border-radius: 20px;
	resize: vertical;
}

select{
	width: 60%;
	padding: 10px;
	border: 1px solid #ccc;
	text-align:center;
	border-radius: 20px;
	resize: vertical;
}

input[type=name]:focus,input[type=password]:focus, input[type=email]:focus{
	background-color: #ddd;
	outline: none;
}

/* Overwrite default styles of hr */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.loginbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.loginbtn:hover {
	opacity: 1;
}

/*--------------------------------------------------------------------- HOMEPAGE.HTML ---------------------------------------------------------------------*/

	/*---------------------- header ---------------------*/
	header{
		display:flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		padding: 40px 40px 40px 40px;
	}
	
	
	.logo{
		margin-right:auto;
	}
	
	.nav-links{
		list-style: none;
	}
	
	.nav-links li{
		display: inline-block;
		padding: 0px 20px;
	}
	
	.nav-links li a{
		transition: all 0.3s ease 0s;
		color: black;
		text-decoration: none;
	}
	
	.nav-links li a:hover{
		color: #6C63FF;
	}
	
	/*.create-button{
		margin-left: 20px;
		padding: 9px 25px;
		background-color: rgba(108, 99, 255, 1);
		border: none;
		border-radius: 50px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
	} 
	
	.create-button:hover{
		background-color: rgba(108, 99, 255, 0.8);
	}*/

	/*-------------------------------------------- body -------------------------------------------------*/
	hr{
		opacity: 40%;
	}
	
	/*----------------------- training ----------------------*/
	.banner-main{
		background-size: 100% 100%;
		background-repeat: no-repeat;
		padding-bottom: 90px;
		display: inline-flex;
		padding: 30px;
	}
	
	.text-bg{
		text-align: left;
		padding-left: 30px;
		color: #191970;
	}
	
	.text-bg h1{
		font-size: 60px;
		line-height: 80px;
		padding-height: 20px;
		font-weight: bold;
	}
	
	.text-bg span{
		font-size: 20px;
		line-height: 50px;
	}
	
	.text-bg p{
		font-size: 17px;
		line-height: 28px;
		padding: 40px 0;
		
	}
	
	.text-bg a {
		font-size: 16px;
		background-color: #000;
		color: #fff;
		padding: 10px 0px;
		width: 100%;
		max-width: 190px;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
	}
	
	.titlepage{
		text-align:center;
	}
	
	.Training
	{
		padding-bottom: 70px;
	}
	
	.Training, .training-search{
		padding: 15px 30px;
		box-shadow: inherit;
		border: inherit;
		width: 60%;
		font-size: 19px;
		box-shadow: #b0b0b0 0px -2px 9px 0px;
	}
	
	.training-search-btn{
		padding: 15px 0px;
		border: #1a1b19 solid 1px;
		background: #1a1b19;
		color: #fff;
		margin-left: -5px;
		font-weight: 500;
		font-size: 18px;
		max-width: 194px;
		width: 100%;

		box-shadow: #b0b0b0 0px -2px 9px 0px;
		transition: all 0.3s ease-in;
	}
	
	.training-search-btn:hover{
		cursor: pointer;
	}
	
	.search-image {

		width: 100%;
		text-align: right;
	}
	
	
	
	/*------------------------- about section -------------------------*/
	.about-main{
		padding-top: 90px;
		background: black;
	}
	
	.aboutus-main{
		text-align:center;
	}
	
	.about-main .titlepage{
		color: #fff;
	}
	
	.aboutus-main figure{
		margin: 0;
	}
	
	.aboutus-main p{
		color: #0c0f38;
		font-size: 17px;
		line-height: 28px;
		padding: 40px 50px;
		color: #fff;
		text-align: justify;
	}
	
	.aboutus-main a {
		font-size: 16px;
		background-color: #fff;
		color: #000;
		padding: 10px 0px;
		width: 100%;
		max-width: 190px;
		text-align: center;
		display: inline-block;
		text-transform: uppercase;
		font-weight: 400;
		margin-top: 10px;
	}
	

	
	/*------------------------- why section -------------------------*/
	.why{
		margin-top: 90px;
		background: #ffff;
		font-family: Poppins;
	}
	
	.why .titlepage {
		text-align: center;
	}
	
	.whychoose{
		display: inline-flex;
		
	}
	
	.why .titlepage p {
		color: #090808;
	}

	.why .why-box h3 {
		padding: 20px 0px 20px 0px;
		font-size: 20px;
		line-height: 25px;
		color: #090808;
		display: block;
		font-weight: 500;
	}
	
	.why .why-box {
		text-align:center;
		background-color: transparent;
		border-radius: 20px;
		padding: 40px 20px 20px 20px;
		transition: ease-in all 0.5s;
		box-shadow: #ddd 0px 0px 10px;
		margin: 30px 25px;
	}
	
	.why .why-box p {
		font-size: 16px;
		line-height: 24px;
		color: #090808;
	}
	
	.why .why-box:hover {
		transition: ease-in all 0.1s;
		transform: scale(1.1);
	}
	
	/*------------------------- footer -------------------------*/
	.footer{
		background: #3b3b3b;
	}
	

	
	
	/*------------------------- copyright -------------------------*/
	.site-footer{
	  background-color:#26272b;
	  padding:45px 0 20px;
	  font-size:15px;
	  line-height:24px;
	  color:#737373;
	}
	
	.site-footer hr{
	border-top-color:#bbb;
	opacity:0.5
	}
	
	.site-footer hr.small
	{
	  margin:20px 0
	}
	
	.site-footer h6
	{
	  color:#fff;
	  font-size:16px;
	  text-transform:uppercase;
	  margin-top:5px;
	  letter-spacing:2px
	}
	
	.site-footer a
	{
	  color:#737373;
	}
	.site-footer a:hover
	{
	  color:#3366cc;
	  text-decoration:none;
	}
	.footer-links
	{
	  padding-left:0;
	  list-style:none
	}

	.footer-item{
		margin: 0 80px;
	}

	.footer-item li{
		list-style-type: none;
	}

	.footer-links li
	{
	  display:block;
	}

	.footer-links a
	{
	  color:#737373
	}
	.footer-links a:active,.footer-links a:focus,.footer-links a:hover
	{
	  color:#3366cc;
	  text-decoration:none;
	}
	.footer-links.inline li
	{
	  display:inline-block
	}
	.site-footer 
	{
	  text-align:right
	}
	.site-footer  a
	{
	  width:40px;
	  height:40px;
	  line-height:40px;
	  margin-left:6px;
	  margin-right:0;
	  border-radius:100%;
	  background-color:#33353d
	}
	.copyright-text
	{
	  margin:0
	}

	  .site-footer .copyright-text,.site-footer 
	  {
		text-align:center;
	  }



	.footer-item{
		display: inline-flex;
		
	}

/*--------------------------------------------------------------------- ABOUT.HTML ---------------------------------------------------------------------*/
	
	/*------------------------- team section -------------------------*/
	.team-column{
		float:left;
		width:25%;
		margin-bottom: 16px;
		padding: 0 8px;
	}
	
	.team-card{
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		margin:8px;
	}
	
	.teamtext-container{
		padding: 0 16px;
	}
	
	.teamtext-container::after, .about-team::after{
		content: "";
		clear: both;
		display: table;
	}
	
	.team-title{
		color: grey;
	}
	
	
	
	
	

