table,tr,th,td{
	border: 1px solid black;
}

h1{
	text-align:center;
}

form.search{
	text-align:center;
}

form.check{
	text-align:center;
}

fieldset {
	display:inline
}

.final_confirm{
	text-align:center;
}

.container_training{

	border-radius: 10px;
	background-color: #f2f2f2;
	padding: 10px;
}

.tab {
	margin-left: 2.5em
}

.center{
	text-align:center;
}

input[type=text] {
	padding: 10px;
	border: 1px solid #ccc;
	text-align:center;
	border-radius: 20px;
	resize: vertical;
}

table.center{
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	width:50%;
}

nav{
  overflow: hidden;
}

nav a {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.register{
	display: block;
	margin: auto;
}

/*Home.php*/
.button {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button:hover {
  background-color: blue;
  color: white;
}


/*login*/
body {
	font-family: Arial, Helvetica, sans-serif;
}
		
	/* Full-width input fields */
input[type=name],input[type=password],input[type=email],input[type=gender],input[type=desc]{
	width: 20%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=name]:focus,input[type=password]:focus, input[type=email]:focus{
	background-color: #ddd;
	outline: none;
}

/* Overwrite default styles of hr */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

.loginbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.loginbtn:hover {
	opacity: 1;
}

/* Add a blue text color to links */
a {
  color: 12232E;
}

